@font-face {
  font-family: "Nanum Square";
  src: url("../fonts/NanumSquareRegular.ttf");
}
@font-face {
  font-family: "Nanum Square Light";
  src: url("../fonts/NanumSquareLight.ttf");
}
@font-face {
  font-family: "Nanum Square Bold";
  src: url("../fonts/NanumSquareBold.ttf");
}
@font-face {
  font-family: "Nanum Square ExtraBold";
  src: url("../fonts/NanumSquareExtraBold.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu Italic";
  src: url("../fonts/Ubuntu-Italic.ttf");
}
@font-face {
  font-family: "Ubuntu Light";
  src: url("../fonts/Ubuntu-Light.ttf");
}
@font-face {
  font-family: "Ubuntu Light Italic";
  src: url("../fonts/Ubuntu-LightItalic.ttf");
}
@font-face {
  font-family: "Ubuntu Light Italic";
  src: url("../fonts/Ubuntu-LightItalic.ttf");
}
@font-face {
  font-family: "Ubuntu Medium";
  src: url("../fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: "Ubuntu Medium Italic";
  src: url("../fonts/Ubuntu-MediumItalic.ttf");
}
@font-face {
  font-family: "Ubuntu Bold";
  src: url("../fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "Ubuntu Bold Italic";
  src: url("../fonts/Ubuntu-BoldItalic.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Italic";
  src: url("../fonts/Montserrat-Italic.ttf");
}
@font-face {
  font-family: "Montserrat Thin";
  src: url("../fonts/Montserrat-Thin.ttf");
}
@font-face {
  font-family: "Montserrat Thin Italic";
  src: url("../fonts/Montserrat-ThinItalic.ttf");
}
@font-face {
  font-family: "Montserrat Extra Light";
  src: url("../fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: "Montserrat Extra Light Italic";
  src: url("../fonts/Montserrat-ExtraLightItalic.ttf");
}
@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat Light Italic";
  src: url("../fonts/Montserrat-LightItalic.ttf");
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat Medium Italic";
  src: url("../fonts/Montserrat-MediumItalic.ttf");
}
@font-face {
  font-family: "Montserrat Semi Bold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat Semi Bold Italic";
  src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat Bold Italic";
  src: url("../fonts/Montserrat-BoldItalic.ttf");
}
@font-face {
  font-family: "Montserrat Extra Bold";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat Extra Bold Italic";
  src: url("../fonts/Montserrat-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "Montserrat Black";
  src: url("../fonts/Montserrat-Black.ttf");
}
@font-face {
  font-family: "Montserrat Black Italic";
  src: url("../fonts/Montserrat-BlackItalic.ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-Regular.ttf");
}
@font-face {
  font-family: "JetBrains Mono Italic";
  src: url("../fonts/JetBrainsMono-Italic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Medium";
  src: url("../fonts/JetBrainsMono-Medium.ttf");
}
@font-face {
  font-family: "JetBrains Mono Medium Italic";
  src: url("../fonts/JetBrainsMono-Medium-Italic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("../fonts/JetBrainsMono-Bold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Bold Italic";
  src: url("../fonts/JetBrainsMono-Bold-Italic.ttf");
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.ttf");
}
@font-face {
  font-family: "Pretendard Thin";
  src: url("../fonts/Pretendard-Thin.ttf");
}
@font-face {
  font-family: "Pretendard Extra Light";
  src: url("../fonts/Pretendard-ExtraLight.ttf");
}
@font-face {
  font-family: "Pretendard Light";
  src: url("../fonts/Pretendard-Light.ttf");
}
@font-face {
  font-family: "Pretendard Medium";
  src: url("../fonts/Pretendard-Medium.ttf");
}
@font-face {
  font-family: "Pretendard Semi Bold";
  src: url("../fonts/Pretendard-SemiBold.ttf");
}
@font-face {
  font-family: "Pretendard Bold";
  src: url("../fonts/Pretendard-Bold.ttf");
}
@font-face {
  font-family: "Pretendard Extra Bold";
  src: url("../fonts/Pretendard-ExtraBold.ttf");
}
@font-face {
  font-family: "Pretendard Black";
  src: url("../fonts/Pretendard-Black.ttf");
}

body {
  /* font-family: "Ubuntu", "Nanum Square"; */
  font-family: "Pretendard", sans-serif;
}

pre,
.pre {
  font-family: "JetBrains Mono", Menlo, Consolas, Monaco, "Courier New", monospace;
}
